<p id="notice"><%= notice %></p>

<h1>Listing Bq Packages</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bq_packages.each do |bq_package| %>
      <tr>
        <td><%= bq_package.name %></td>
        <td><%= bq_package.url %></td>
        <td><%= link_to 'Show', bq_package %></td>
        <td><%= link_to 'Edit', edit_bq_package_path(bq_package) %></td>
        <td><%= link_to 'Destroy', bq_package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bq package', new_bq_package_path %>
