<%= render "shared/beauty_header" %>

<div class="container" id="album" data-collection="albums">

  <p id="notice"><%= notice %></p>

  <h1>
    <%= @album.title %>
  </h1>

  <div class="buttons">
    <%= link_to 'Back', [:admin, @album], class: 'btn btn-default' %>
    <%= link_to 'Edit', edit_admin_album_path(@album), class: 'btn btn-primary' %>

    <% if @album.published %>
      <%= link_to '下架', admin_album_unpublish_path(@album), method: :post, data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-danger' %>
    <% else %>
        <%= link_to '发布', admin_album_publish_path(@album), method: :post, data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-success' %>
    <% end %>

    <%= link_to '删除', [:admin, @album], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>


  <div class="tags">
    标签：
    <% @album.tags.each do |tag| %>
      <%= link_to tag, admin_albums_path(tag: tag), class: 'label label-info' %>
    <% end %>
  </div>

  <div class="impressions">
    IP：<%= @album.impressionist_count(filter: :ip_address) %>
    PV：<%= @album.impressionist_count %>
  </div>

  <div class="upload-area" data-id='<%= @album.id %>' data-collection='albums'>

    <% if @photos.count == 0 %>
      <div class="icon fa fa-cloud-upload"></div>
    <% end %>

    <ul class='list'>
      <% if @photos.count > 0 %>
        <% @photos.each do |photo| %>
          <li class="image clearfix">
            <div class="pull-left">
              <a href="<%= photo.try(:image_url) %>" class='fullsizable'>
                <img data-original="<%= photo.try(:image_url) %>" class='lazy'>
              </a>
            </div>
            <div class="pull-right">
              <%= link_to '删除', photo, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>

    <div class="progress hidden">
      <div class="progress-bar progress-bar-success progress-bar-striped active" style='width: 0%'></div>
    </div>
  </div>

  <script type="text/x-tmpl" id="tmplImg">
    <li class="image clearfix">
      <div class="pull-left">
        <a href="{%= o.image.url %}" class='fullsizable'>
          <img data-original="{%= o.image.url %}" class='lazy'>
        </a>
      </div>
      <div class="pull-right">
        <a data-confirm="Are you sure?" data-remote="true" rel="nofollow" data-method="delete" href="/photos/{%=o['_id']['$oid']%}">删除</a>
      </div>
    </li>
  </script>

  <%= paginate @photos, theme: 'twitter-bootstrap-3' %>
</div>
