<%= form_for [:admin, @admin_site_type] do |f| %>
  <% if @admin_site_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_site_type.errors.count, "error") %> prohibited this admin_site_type from being saved:</h2>

      <ul>
      <% @admin_site_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :site_category_id %>

      <%= f.select :site_category_id, SiteCategory.mapping, {}, class: 'form-control' %>
    </div>

    <%= f.submit :save, class: 'btn btn-default' %>
  </div>
<% end %>
