<%= render "shared/vr_header" %>

<div class="container">

  <table class="table">

    <% @articles.each do |article| %>
      <tr>
        <td>
          <%= article.title %>
        </td>

        <td>
          <%= image_tag article.thumbnail %>
        </td>

        <td>
          <%= article.description %>
        </td>

        <td>
          <%= article.published_at %>
        </td>

        <td>
          <%= article.detail_page_url %>
        </td>
      </tr>
    <% end %>

  </table>

</div>

