<div class="container" id="album" data-collection="albums">

  <p id="notice"><%= notice %></p>

  <h1>
    <%= @album.title %>
  </h1>

  <div class="buttons">

    <%= link_to 'Back', albums_path, class: 'btn btn-default' %>
    <%= link_to 'Edit', edit_album_path(@album), class: 'btn btn-primary' %>

    <% if @album.published %>
      <%= link_to '下架', album_unpublish_path(@album), method: :post, data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-danger' %>
    <% else %>
        <%= link_to '发布', album_publish_path(@album), method: :post, data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-success' %>
    <% end %>
  </div>


  <table class='table beauty'>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
    <tr>
      <td>标签：</td>
      <td>
        <% @album.tags.each do |tag| %>
          <%= link_to tag, albums_path(tag: tag) %>
      <% end %>
      </td>
    </tr>

    <% @photos.each do |photo| %>
      <tr>
      <td>
        <a href="<%= photo.try(:url) %>" class='fullsizable'>
          <img data-original="<%= photo.try(:url) %>" class='lazy'>
        </a>
      </td>
      <td>
        <%= link_to '删除', photo, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
      </td>
    </tr>
  <% end %>
    </tbody>
  </table>

  <%= paginate @photos %>

</div>
