<div class="buttons">
  <%= link_to '新建表情包', new_bq_package_path, class: 'btn btn-default' %>
  <%= link_to '全部删除', "#", class: 'btn btn-danger batch-destroy' %>
  <%= link_to '批量置顶', "#", class: 'btn btn-success batch-move', data: { direction: 'top' } %>
  <%= link_to '批量置底', "#", class: 'btn btn-warning batch-move', data: { direction: 'bottom' } %>

  <%= link_to '批量发布', "#", class: 'btn btn-success batch-publish' %>
  <%= link_to '批量下架', "#", class: 'btn btn-warning batch-unpublish' %>
</div>

<ul id='items' data-collection="bq_packages">
  <% bq_packages.each do |bq_package| %>

    <li class='item clearfix' data-position="<%= bq_package.position %>" data-id="<%= bq_package.id %>">

    <div class="select pull-left">
      <input type="checkbox" name='package' id='p_<%= bq_package.id %>' value='<%= bq_package.id %>'>
    </div>

      <div class="name pull-left">
        <label for="p_<%= bq_package.id %>">
          <%= bq_package.name %>
        </label>
      </div>

      <div class="tags pull-left">
        标签：
        <div>
          <% bq_package.tags.each do |tag| %>
            <%= link_to tag, bq_packages_path(tag: tag), class: 'label label-info' %>
          <% end %>
        </div>
      </div>

      <div class="thumbnail pull-left">
        <%= link_to bq_package do %>
          <%= image_tag bq_package.bqs[1].try(:image_url), width: 100, height: 100 %>
        <% end %>
      </div>

      <div class="controls pull-left">
        <% if bq_package.published %>
          <%= link_to '下架', bq_package_unpublish_path(bq_package), method: :post, data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-warning' %>
        <% else %>
            <%= link_to '发布', bq_package_publish_path(bq_package), method: :post, data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-success' %>
        <% end %>

        <%= link_to '编辑', edit_bq_package_path(bq_package), class: 'btn btn-info' %>
        <%= link_to '删除', bq_package, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-danger' %>
      </div>

      <div class="handle pull-right">
        <span class="my-handle">::</span>
      </div>
    </li>

  <% end %>
</ul>

<%= paginate bq_packages, theme: 'twitter-bootstrap-3' %>
