<p id="notice"><%= notice %></p>

<h1>全部表情包</h1>

<%= link_to '新建表情包', new_bq_package_path %>

<table class='table'>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bq_packages.each do |bq_package| %>
      <tr>
        <td><%= bq_package.name %></td>
        <td>
          <% bq_package.tags.each do |tag| %>
            <%= link_to tag, bq_packages_path(tag: tag) %>
          <% end %>
        </td>
        <td>
          <%= link_to bq_package do %>
            <%= image_tag bq_package.bqs[1].try(:origin_url), width: 100, height: 100 %>
          <% end %>
        </td>

        <% if bq_package.published %>
          <td><%= link_to '下架', bq_package_unpublish_path(bq_package), method: :post, data: { confirm: 'Are you sure?' }, remote: true %></td>
        <% else %>
          <td><%= link_to '发布', bq_package_publish_path(bq_package), method: :post, data: { confirm: 'Are you sure?' }, remote: true %></td>
        <% end %>

        <td><%= link_to '编辑', edit_bq_package_path(bq_package) %></td>
        <td><%= link_to '删除', bq_package, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @bq_packages %>
