<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>
    <%= @bq_package.name %>
  </h1>

  <div class="buttons">
    <%= link_to 'Back', bq_packages_path, class: 'btn btn-default' %>
    <%= link_to 'Edit', edit_bq_package_path(@bq_package), class: 'btn btn-primary' %>

    <% if @bq_package.published %>
      <%= link_to '下架', bq_package_unpublish_path(@bq_package), method: :post, data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-danger' %>
    <% else %>
        <%= link_to '发布', bq_package_publish_path(@bq_package), method: :post, data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-success' %>
    <% end %>

    <%= link_to '删除', @bq_package, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>

  <div class="tags">
    标签：
    <% @bq_package.tags.each do |tag| %>
      <%= link_to tag, bq_packages_path(tag: tag), class: 'label label-info' %>
    <% end %>
  </div>

  <div class="upload-area" data-id='<%= @bq_package.id %>' data-collection='bq_packages'>

    <% if @bqs.count == 0 %>
      <div class="icon fa fa-cloud-upload"></div>
    <% end %>

    <ul class='list'>
      <% if @bqs.count > 0 %>
        <% @bqs.each do |bq| %>
          <li class="image clearfix">
            <div class="pull-left">
              <img src="<%= bq.image_url %>">
            </div>
            <div class="pull-right">
              <%= link_to '删除', bq, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>

    <div class="progress hidden">
      <div class="progress-bar progress-bar-success progress-bar-striped active" style='width: 0%'></div>
    </div>
  </div>

  <script type="text/x-tmpl" id="tmplImg">
    <li class="image clearfix">
      <div class="pull-left">
        <img src="{%= o.image.url %}">
      </div>
      <div class="pull-right">
        <a data-confirm="Are you sure?" data-remote="true" rel="nofollow" data-method="delete" href="/bqs/{%=o['_id']['$oid']%}">删除</a>
      </div>
    </li>
  </script>

  <%= paginate @bqs, theme: 'twitter-bootstrap-3' %>
</div>
