<p id="notice"><%= notice %></p>

<h1>Listing Bq Types</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bq_types.each do |bq_type| %>
      <tr>
        <td>
          <%= bq_type.name %>
        </td>
        <td>
          <%= bq_type.url %>
        </td>
        <td><%= link_to 'Show', bq_type %></td>
        <td><%= link_to 'Edit', edit_bq_type_path(bq_type) %></td>
        <td><%= link_to 'Destroy', bq_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bq type', new_bq_type_path %>
