<%= render "shared/vr_header" %>
<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Site Categories</h1>

  <%= link_to 'New Site category', new_admin_site_category_path, class: 'btn btn-default' %>
  <br>

  <table class='table'>
    <thead>
      <tr>
        <td>名称</td>
        <th colspan="3">操作</th>
      </tr>
    </thead>

    <tbody>
      <% @admin_site_categories.each do |admin_site_category| %>
        <tr>
          <td><%= admin_site_category.name %></td>
          <td><%= link_to 'Edit', edit_admin_site_category_path(admin_site_category) %></td>
          <td><%= link_to 'Destroy', [:admin, admin_site_category], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
