<%= form_for [:admin, @admin_site] do |f| %>
  <% if @admin_site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_site.errors.count, "error") %> prohibited this admin_site from being saved:</h2>

      <ul>
      <% @admin_site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

    <div class="form-group">
      <%= f.label :site_type_id %>

      <%= f.grouped_collection_select :site_type_id, SiteCategory.all, :site_types, :name, :id, :name, {}, class: 'form-control', id: 'site_type_selector' %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :url %>
      <%= f.text_field :url, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :icon_url %>
      <%= f.text_field :icon_url, class: 'form-control' %>
    </div>

    <%= f.submit :save, class: 'btn btn-default' %>
  </div>
<% end %>
